
.metadata/.plugins/org.eclipse.cdt.core/*.pdom
.metadata/.plugins/org.eclipse.core.resources/.history/
.metadata/.plugins/org.eclipse.core.resources/.projects/*/*.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/
.metadata/.plugins/org.eclipse.core.resources/.snap

